<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File Uploader</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <input id="upload-input" type="file" name="upload" multiple="multiple">
        </div>

    </div>
</div>


<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    $('#upload-input').on('change', function () {

        var files = $(this).get(0).files;


        if (files.length > 0) {
            var formData = new FormData();

            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                formData.append('upload', file, file.name);
            }

            $.ajax({
                url: '/upload',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    alert("upload successful");
                    console.log('upload successful!\n' + data);
                }
            });
        }
    });

</script>
</body>
</html>